<section class="contact-container section-transition" id="contact">
    <div class="content">
        <div class="text-content fade-in-left">
            <h1 class="title">
                <span class="highlight">Contactez-moi</span>
            </h1>
            <p class="subtitle">Envie de discuter ?</p>
            <p class="description">Je suis toujours ouvert aux nouvelles opportunités et aux discussions intéressantes. N'hésitez pas à me contacter sur LinkedIn !</p>
            <div class="actions">
                <a href="https://www.linkedin.com/in/arthur-heude" target="_blank" class="btn btn-primary">
                    <i class="fab fa-linkedin"></i>
                    Me contacter sur LinkedIn
                </a>
            </div>
        </div>
        
        <div class="illustration fade-in-right">
            <!-- Conteneur pour l'animation Lottie -->
            <div #lottieContainer class="lottie-container"></div>
        </div>
    </div>
</section>