<section class="about-container" id="about">
    <div class="content">
        <div class="text-content">
            <h1 class="title" [@fadeInUp]>
                Développeur
                <span class="highlight">Full Stack</span>
            </h1>
            <h2 class="subtitle" [@fadeInUp] style="animation-delay: 2s;">DevOps</h2>
            <p class="description" [@fadeInUp] style="animation-delay: 20s;">
                Je suis un développeur full stack passionné par la création d'expériences digitales qui sont fluides, scalables et modernes.
            </p>

            <div class="skills" [@staggerAnimation]>
                <span class="skill-badge" [@skillBadgeAnimation]>Angular</span>
                <span class="skill-badge" [@skillBadgeAnimation]>Django/Python</span>
                <span class="skill-badge" [@skillBadgeAnimation]>Google Cloud Platform</span>
                <span class="skill-badge" [@skillBadgeAnimation]>PostgreSQL</span>
                <span class="skill-badge" [@skillBadgeAnimation]>Framework Scrum (Agilité)</span>
            </div>

            <div class="actions" [@fadeInUp] style="animation-delay: 8s;">
                <a href="#projects" class="btn btn-primary">
                    <span>Projets</span>
                    <i class="fas fa-external-link-alt"></i>
                </a>
                <a href="#contact" class="btn btn-secondary">
                    <span>Contact</span>
                    <i class="fas fa-envelope"></i>
                </a>
            </div>

            <div class="social-links" [@staggerAnimation]>
                <a href="https://github.com/Anymok" class="social-link" target="_blank" rel="noopener noreferrer" [@socialLinkAnimation]>
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://gitlab.com/Anymok" class="social-link" target="_blank" rel="noopener noreferrer" [@socialLinkAnimation]>
                    <i class="fab fa-gitlab"></i>
                </a>
                <a href="https://www.linkedin.com/in/arthur-heude/" class="social-link" target="_blank" rel="noopener noreferrer" [@socialLinkAnimation]>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>
        <div class="illustration" [@fadeInUp] style="animation-delay: 0.6s;">
            <!-- Conteneur pour l'animation Lottie -->
            <div #lottieContainer class="lottie-container"></div>
        </div>
    </div>
</section>
