<nav class="custom-navbar" [@navAnimation]>
  <ul>
    <li><a href="#about" (click)="scrollToSection($event, 'about')" [class.active]="isActive('about')">Accueil</a></li>
    <li><a href="#skills" (click)="scrollToSection($event, 'skills')" [class.active]="isActive('skills')">Compétences</a></li>
    <li><a href="#projects" (click)="scrollToSection($event, 'projects')" [class.active]="isActive('projects')">Projets</a></li>
    <li><a href="#contact" (click)="scrollToSection($event, 'contact')" [class.active]="isActive('contact')">Contact</a></li>
  </ul>
</nav>
